* {
    font-family: 'Nunito', sans-serif; /* importa font de letra Poppins como padrão */ 
}

header{
    margin: 2rem 6rem;
    align-items:center;
    text-align:start;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lista_cabeçalho{
    display: flex;
    align-items: center;
}


.pesquisa_box{
    background: rgba(128, 128, 128, 0.137);
    border:none;
    border-radius:15px;
    width: 375px;
    height: 25px;
    padding: 5px;
    display: inline-block;
    margin-left: 1.5rem;
    align-items: center;
}

.search_site{
    float:left;
    background-color:transparent;
    padding-left:10px;
    width: 320px;
    font-style:italic;
    font-size:16px;
    border: none;
}

.search_site:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.pesquisa_box input::placeholder{
    color: rgba(0, 0, 0, 0.39);
}

#botao-lupa{
    width: 4%;
    float:right;
    padding: 5px 10px 5px 5px ;
}

.login_botao{
    cursor: pointer;
    color: #2A7AE4;
    height: 51px;
    width: 200px;
    font-size: 16px;
    border: solid #2A7AE4 1px;
    background-color: #FFFF;
    display: inline-block;
}

.login_botao:hover{
    background-color: #2a7be454;
}

.logo_header{
    display: inline-block;
}

main{
    padding: 3rem 0;
    background: linear-gradient(rgba(128, 128, 128, 0.103),#FFFF);
}

.galeria_produtos{
    margin: 2rem 6rem;
}

.box_produtos{
    margin: 2rem 0;
}
.head_produtos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.titulo_produtos{
    font-size: 30px;
    font-weight: bold;
    color: #464646;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
}

.ver_tudo_box{
    display:flex;
    align-items: center;
}

.box_link_style{
    text-decoration: none;
    color: #2A7AE4;
    font-weight: bold;
}

.produtos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.produto_principal{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.produto_principal_texto{
    width: 50%;
}

.elemento_produto_principal{
    padding-bottom: 1rem;
}

.preço_produto_principal{
    font-weight: bold;
}

.titulo_produto_principal{
    font-weight: bold;
    color: #464646;
    font-size: 50px;
    padding-left: 1%;
}

.comprar_botao{
    margin-top: 2rem;
    width: 200px;
    font-size: 16px;
    padding: 1rem;
    border: none 1px;
    background-color: #2A7AE4;
    color: #FFFF;
    cursor: pointer;
}

.paragrafo_produto{
    padding: 0.5rem 0;
}

.preço_pagrafo_produto{
    font-weight: bold;
}

footer{
    background-color: #2a7be41f;
    font-family: 'Nunito', sans-serif;
}

.rodapé{
    display: flex;
    justify-content: space-between;
    padding: 3rem 6rem;
}

.lista_rodapé{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rodapé-li-link{
    text-decoration: none;
    color: black;
}
.contato_form{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.titulo_contato{
    font-weight: bold;
    margin-bottom: 0.5em;
}

.elemento_form{
    margin-bottom: 1rem;
    margin-top: 0;
	text-align: left;
    padding: 1rem 1rem;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid;
    border-color: #4646466b;
}

.enviar_mensagem_botao{
    width: 160px;
    font-size: 16px;
    padding: 1rem;
    border: none 1px;
    background-color: #2A7AE4;
    color: #FFFF;
    cursor: pointer;
}

.enviar_mensagem_botao:hover{
    background-color: #2a7be4ab;
}

.elemento_form:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.elemento_form::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.copyright{
    font-family: 'Nunito', sans-serif;
    margin: 2rem 6rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.copy_alurageek{
    margin-bottom: 1rem;
}